/app/build/tmp/expandedArchives/httpclient-4.5.2.jar_9y3enqsgv5hr0ceujs4jrqqzx/org/apache/http/conn/ssl
/app/build/tmp/expandedArchives/httpclient-4.5.2.jar_9y3enqsgv5hr0ceujs4jrqqzx/org/apache/http/conn/scheme
/.gradle/3.3/taskArtifacts
/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis
/app/build/tmp/*.*
/app/build/**/*.*
/app/build/tmp/expandedArchives/commons-codec-1.9.jar_2ehp75xhb1q74dl56tz98uyav/org/apache/commons/codec/digest/*.class
/app/build/intermediates/transforms/dex/debug/folders/1000/10/support-v4-19.1.0_07c8279c2be853bfccf141edc95b5ec044c33d5c/*.dex
/app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/com/mahran/musiky/*.class
/app/build/intermediates/classes/debug/com/mahran/musiky
/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
/.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
/.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
/.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
/.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
/app/build/intermediates/incremental/packageDebug/zip-cache/vjwJgva3aRhPS__+lIadnWxk59I=
/app/build/intermediates/incremental/packageInstantRunResourcesDebug/zip-cache/vjwJgva3aRhPS__+lIadnWxk59I=
/build/android-profile
/build/intermediates/dex-cache/cache.xml
